@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@500&family=Poppins&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    background-color: rgb(23, 36, 76);
    font-family: monospace;
}

.wrapper {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,265px);
    gap: 15px;
}

.add-box ,.iconic ,.bottom-content,
.settings .menu li {
    display: flex;
    align-items: center;
    justify-content : space-between;
} 

.add-box {
   flex-direction: column;
    justify-content: center;
}

.add-box .iconic{
height: 78px;
width: 78px;
font-size: 40px;
border-radius:50%;
justify-content: center;
border: 2px dashed rgb(34, 34, 96);
}

li {
    list-style: none;
    max-width: 250px;
    
}

.wrapper li {
    height: 250px;
    list-style: none;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 15px 20px 20px;
}


.wrapper .note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.note {
    background-color: rgb(240, 240, 240);
    max-width: 250px;
    
}

.note span {
    display: block;
    margin-top: 5px;
    color: rgb(90, 90, 90);
    font-size: 16px;
}

.note p {
    font-size: 22px;
    font-weight: 500;

}

.note .bottom-content {
    padding-top:10px;
border-top: 1px solid #ccc;
}

.bottom-content span {
    color: rgb(38, 38, 38);
    font-size: 15px;
    cursor: pointer;
}

.settings {
    position: relative;
}

.settings .menu {
    position: absolute;
    bottom: 0;
    right: -5px;
    padding: 5px 0;
    background-color: #fff;
    border-radius:4px;
    transform: scale(0);
    transform-origin: bottom right;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease;
}

.settings:hover .menu {
    transform:scale(1);
}

.settings .menu li {
    height: 25px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0;
    padding: 17px 15px;
    justify-content: flex-start;

}
.menu li:hover {
    background-color: #dbdbdb;
}

.menu li  iconify-icon {
    padding-right: 8px;
}

/* Popup -Popup -Popup -Popup -Popup -Popup -Popup -Popup -Popup -Popup -Popup -Popup -Popup -Popup -Popup -*/

.popup-box{
    position:fixed ;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

.popup-box .popup {
    position:absolute;
}